$body-color: red;

body {
  margin: 0;
  #app{
    .goods{
      display: flex;
      .goods__item{
        margin: 15px;
        width: 300px;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        background: white;
      }
    } 
  }
  .section{
    background: rgba(51, 48, 48, 0.68);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    align-items: center;
    
    .section__box{
      position: relative;
      text-align: center;
      width: 30%;
      margin: auto auto;
      padding: 30px;
      background: white;
      border-radius: 3px;
      .section__box__sbm{
        display: inline-block;
      }
      .section__box__autorize{
        display: inline-block;
        background: #f0f0f0;
        border-radius: 3px;
        border: 1px solid #818080;
        padding: 8px;
        font-size: 16px;
        outline: none;
        cursor: pointer;
      }
      .fa-times-circle{
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        font-weight: 300;
        &::before{
          content: "\f057";
        }
      }
      input{
        width: 300px;
        height: 35px;
        margin: 5px;
        border-radius: 3px;
        border: 1px solid #818080;
        padding: 5px;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        &:focus{
          border-color:black;
        }
      }
      input[type='submit']{
        width: 100px;
        &:hover{
          border-color:black;
        }
      }
    }
  }
  .app__menu{
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 45px;
    display: flex;
    width: 100%;
  }
}


//Стили спинера
.overlay{
  top: 0;
        background: rgba(0,0,0,0.7);;
        position: fixed;
        width: 100%;
        height: 100%;
}
.lds-ripple {
  top: 45%;
  left: 45%;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
//Конец стилей спинера

#add-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* flex-direction: column; */
  .add-container{
    max-width: 90%;
    color: #000;
    border: 1px solid #000;
  }
}
#add-page{
  .add-container{
    h1{
      text-align: center;
    }
    .colm-container{
      display: flex;
      .colm-right{
         display: block;
         width: 100%;
         *{
          padding: 15px;
          display: inline-block;
          width: 100%;
          font-size: 18px;
          &:nth-child(2) { 
            height: 200px;
          }
         }
      }
      .colm-left{
        display: block;
        width: 100%;
        .colm-content{
          padding: 15px;
          display: inline-block;
          width: 100%;
          input[type='file']{
            display:none;
          }
          .file-in{
            width: 200px;
            height: 200px;
            border: 1px solid #000;
            position: relative;
            cursor: pointer;
            &:hover{
              border: 1px solid rgb(252, 0, 0);
            }
            img{
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    
  }
}