$body-color: red;

body {
  margin: 0;
  #app{
    .goods{
      display: flex;
      .goods__item{
        margin: 15px;
        width: 300px;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        background: white;
      }
    } 
  }
  .section{
    background: rgba(51, 48, 48, 0.68);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    align-items: center;
    
    .section__box{
      position: relative;
      text-align: center;
      width: 30%;
      margin: auto auto;
      padding: 30px;
      background: white;
      border-radius: 3px;
      .section__box__sbm{
        display: inline-block;
      }
      .section__box__autorize{
        display: inline-block;
        background: #f0f0f0;
        border-radius: 3px;
        border: 1px solid #818080;
        padding: 8px;
        font-size: 16px;
        outline: none;
        cursor: pointer;
      }
      .fa-times-circle{
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        font-weight: 300;
        &::before{
          content: "\f057";
        }
      }
      input{
        width: 300px;
        height: 35px;
        margin: 5px;
        border-radius: 3px;
        border: 1px solid #818080;
        padding: 5px;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        &:focus{
          border-color:black;
        }
      }
      input[type='submit']{
        width: 100px;
        &:hover{
          border-color:black;
        }
      }
    }
  }
  .app__menu{
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 45px;
    display: flex;
    width: 100%;
  }
}